SoCrm.Presentation.Contacts/Service References/Contact/ContactService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30319/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" />
  <xs:import schemaLocation="http://localhost:30319/ContactService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" />
  <xs:import schemaLocation="http://localhost:30319/ContactService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Security.Contracts" />
  <xs:import schemaLocation="http://localhost:30319/ContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetContactsByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetContactsByPersonResult" nillable="true" type="q2:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" minOccurs="0" name="company" nillable="true" type="q3:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetContactsByCompanyResult" nillable="true" type="q4:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SoCrm.Services.Security.Contracts" minOccurs="0" name="user" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetContactsByUserResult" nillable="true" type="q6:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactByObjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objectId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactByObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetContactByObjectIdResult" nillable="true" type="q8:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByContactMedium">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="contactMedium" type="q9:ContactMedium" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByContactMediumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetContactsByContactMediumResult" nillable="true" type="q10:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByContactMediumAndPersonName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="contactMedium" type="q11:ContactMedium" />
        <xs:element minOccurs="0" name="personName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsByContactMediumAndPersonNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetContactsByContactMediumAndPersonNameResult" nillable="true" type="q12:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactMediums">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactMediumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="GetAllContactMediumsResult" nillable="true" type="q13:ArrayOfContactMedium" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SoCrm.Services.Security.Contracts" minOccurs="0" name="user" nillable="true" type="q14:User" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" minOccurs="0" name="person" nillable="true" type="q15:Person" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="medium" type="q16:ContactMedium" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="CreateContactResult" nillable="true" type="q17:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" minOccurs="0" name="contact" nillable="true" type="q18:Contact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>