SoCrm.Services.Contacts.Provider/Service References/ContactPersistence/ContactPersistenceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Contacts.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1213/ContactPersistenceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" />
  <xs:import schemaLocation="http://localhost:1213/ContactPersistenceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1213/ContactPersistenceService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Security.Contracts" />
  <xs:import schemaLocation="http://localhost:1213/ContactPersistenceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" base="q1:DomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Medium" type="tns:ContactMedium" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" minOccurs="0" name="Person" nillable="true" type="q2:Person" />
          <xs:element minOccurs="0" name="PersonId" type="ser:guid" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoCrm.Services.Security.Contracts" minOccurs="0" name="User" nillable="true" type="q3:User" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:simpleType name="ContactMedium">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PhoneCall" />
      <xs:enumeration value="EMail" />
      <xs:enumeration value="Mailing" />
      <xs:enumeration value="Fair" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContactMedium" nillable="true" type="tns:ContactMedium" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
</xs:schema>