SoCrm.Services.Customers.Provider/Service References/PhoneNumberPersistence/PhoneNumberPersistenceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1213/PhoneNumberPersistenceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" />
  <xs:complexType name="PhoneNumber">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" base="q1:DomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactType" type="tns:ContactType" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhoneNumber" nillable="true" type="tns:PhoneNumber" />
  <xs:simpleType name="ContactType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Private" />
      <xs:enumeration value="Company" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:complexType name="ArrayOfPhoneNumber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneNumber" nillable="true" type="tns:PhoneNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneNumber" nillable="true" type="tns:ArrayOfPhoneNumber" />
</xs:schema>