SoCrm.Test.WpfClient/Service References/Logging/LoggingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" />
  <xs:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllLogEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLogEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetAllLogEventsResult" nillable="true" type="q1:ArrayOfLogEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeverities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSeveritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetAllSeveritiesResult" nillable="true" type="q2:ArrayOfSeverity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEventsBySeverity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="severity" type="q3:Severity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEventsBySeverityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetLogEventsBySeverityResult" nillable="true" type="q4:ArrayOfLogEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEventByObjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objectId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEventByObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetLogEventByObjectIdResult" nillable="true" type="q6:LogEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="severity" type="q7:Severity" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>