SoCrm.Test.WpfClient/Service References/Logging/LoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoggingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" />
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoggingService_GetAllLogEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLogEvents" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetAllLogEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLogEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetAllSeverities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeverities" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetAllSeverities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeveritiesResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetLogEventsBySeverity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogEventsBySeverity" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetLogEventsBySeverity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogEventsBySeverityResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetLogEventByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogEventByObjectId" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetLogEventByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogEventByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_LogEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:LogEvent" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_LogEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogEventResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoggingService">
    <wsdl:operation name="GetAllLogEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetAllLogEvents" message="tns:ILoggingService_GetAllLogEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetAllLogEventsResponse" message="tns:ILoggingService_GetAllLogEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSeverities">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetAllSeverities" message="tns:ILoggingService_GetAllSeverities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetAllSeveritiesResponse" message="tns:ILoggingService_GetAllSeverities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogEventsBySeverity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetLogEventsBySeverity" message="tns:ILoggingService_GetLogEventsBySeverity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetLogEventsBySeverityResponse" message="tns:ILoggingService_GetLogEventsBySeverity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogEventByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetLogEventByObjectId" message="tns:ILoggingService_GetLogEventByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetLogEventByObjectIdResponse" message="tns:ILoggingService_GetLogEventByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/LogEvent" message="tns:ILoggingService_LogEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/LogEventResponse" message="tns:ILoggingService_LogEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoggingService" type="tns:ILoggingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLogEvents">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetAllLogEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSeverities">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetAllSeverities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogEventsBySeverity">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetLogEventsBySeverity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogEventByObjectId">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetLogEventByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEvent">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/LogEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingService">
    <wsdl:port name="BasicHttpBinding_ILoggingService" binding="tns:BasicHttpBinding_ILoggingService">
      <soap:address location="http://localhost:1065/LoggingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>