SoCrm.Presentation.Customers/Service References/Customer/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAddresses" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllEMailAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEMailAddresses" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllEMailAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEMailAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllPhoneNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPhoneNumbers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllPhoneNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPhoneNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByObjectId" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonsByNameAndCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsByNameAndCompany" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonsByNameAndCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsByNameAndCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCompanyByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByObjectId" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCompanyByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAddress" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateEmailAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmailAddress" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateEmailAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePerson" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllPersons" message="tns:ICustomerService_GetAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllPersonsResponse" message="tns:ICustomerService_GetAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllCompanies" message="tns:ICustomerService_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllCompaniesResponse" message="tns:ICustomerService_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllAddresses" message="tns:ICustomerService_GetAllAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllAddressesResponse" message="tns:ICustomerService_GetAllAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEMailAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllEMailAddresses" message="tns:ICustomerService_GetAllEMailAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllEMailAddressesResponse" message="tns:ICustomerService_GetAllEMailAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPhoneNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllPhoneNumbers" message="tns:ICustomerService_GetAllPhoneNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllPhoneNumbersResponse" message="tns:ICustomerService_GetAllPhoneNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetPersonByObjectId" message="tns:ICustomerService_GetPersonByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetPersonByObjectIdResponse" message="tns:ICustomerService_GetPersonByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsByNameAndCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetPersonsByNameAndCompany" message="tns:ICustomerService_GetPersonsByNameAndCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetPersonsByNameAndCompanyResponse" message="tns:ICustomerService_GetPersonsByNameAndCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCompanyByObjectId" message="tns:ICustomerService_GetCompanyByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCompanyByObjectIdResponse" message="tns:ICustomerService_GetCompanyByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateAddress" message="tns:ICustomerService_CreateAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateAddressResponse" message="tns:ICustomerService_CreateAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreatePhoneNumber" message="tns:ICustomerService_CreatePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreatePhoneNumberResponse" message="tns:ICustomerService_CreatePhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEmailAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateEmailAddress" message="tns:ICustomerService_CreateEmailAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateEmailAddressResponse" message="tns:ICustomerService_CreateEmailAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateCompany" message="tns:ICustomerService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateCompanyResponse" message="tns:ICustomerService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreatePerson" message="tns:ICustomerService_CreatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreatePersonResponse" message="tns:ICustomerService_CreatePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAddresses">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEMailAddresses">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllEMailAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPhoneNumbers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllPhoneNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByObjectId">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetPersonByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsByNameAndCompany">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetPersonsByNameAndCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByObjectId">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCompanyByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAddress">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreatePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEmailAddress">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:4957/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>