SoCrm.Presentation.Customers/Service References/Customer/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Customers.Contracts" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" />
      <xsd:import schemaLocation="http://localhost:4957/CustomerService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetAllPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersons" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompanies" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountries" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllEMailAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEMailAddresses" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllEMailAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEMailAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetContactTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactTypes" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetContactTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllPhoneNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPhoneNumbers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllPhoneNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPhoneNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByObjectId" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonsByNameAndCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsByNameAndCompany" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetPersonsByNameAndCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsByNameAndCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCompaniesByNameAndCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesByNameAndCountry" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCompaniesByNameAndCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesByNameAndCountryResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCompanyByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByObjectId" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCompanyByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateEMailAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEMailAddress" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateEMailAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEMailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePerson" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_CreatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteEMailAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEMailAddress" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteEMailAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEMailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeletePhoneNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeletePhoneNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetAllPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllPersons" message="tns:ICustomerService_GetAllPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllPersonsResponse" message="tns:ICustomerService_GetAllPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllCompanies" message="tns:ICustomerService_GetAllCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllCompaniesResponse" message="tns:ICustomerService_GetAllCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllCountries" message="tns:ICustomerService_GetAllCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllCountriesResponse" message="tns:ICustomerService_GetAllCountries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEMailAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllEMailAddresses" message="tns:ICustomerService_GetAllEMailAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllEMailAddressesResponse" message="tns:ICustomerService_GetAllEMailAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetContactTypes" message="tns:ICustomerService_GetContactTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetContactTypesResponse" message="tns:ICustomerService_GetContactTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPhoneNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllPhoneNumbers" message="tns:ICustomerService_GetAllPhoneNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllPhoneNumbersResponse" message="tns:ICustomerService_GetAllPhoneNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetPersonByObjectId" message="tns:ICustomerService_GetPersonByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetPersonByObjectIdResponse" message="tns:ICustomerService_GetPersonByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsByNameAndCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetPersonsByNameAndCompany" message="tns:ICustomerService_GetPersonsByNameAndCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetPersonsByNameAndCompanyResponse" message="tns:ICustomerService_GetPersonsByNameAndCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompaniesByNameAndCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCompaniesByNameAndCountry" message="tns:ICustomerService_GetCompaniesByNameAndCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCompaniesByNameAndCountryResponse" message="tns:ICustomerService_GetCompaniesByNameAndCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCompanyByObjectId" message="tns:ICustomerService_GetCompanyByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCompanyByObjectIdResponse" message="tns:ICustomerService_GetCompanyByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreatePhoneNumber" message="tns:ICustomerService_CreatePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreatePhoneNumberResponse" message="tns:ICustomerService_CreatePhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEMailAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateEMailAddress" message="tns:ICustomerService_CreateEMailAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateEMailAddressResponse" message="tns:ICustomerService_CreateEMailAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreateCompany" message="tns:ICustomerService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreateCompanyResponse" message="tns:ICustomerService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/CreatePerson" message="tns:ICustomerService_CreatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/CreatePersonResponse" message="tns:ICustomerService_CreatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeletePerson" message="tns:ICustomerService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeletePersonResponse" message="tns:ICustomerService_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEMailAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteEMailAddress" message="tns:ICustomerService_DeleteEMailAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteEMailAddressResponse" message="tns:ICustomerService_DeleteEMailAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeletePhoneNumber" message="tns:ICustomerService_DeletePhoneNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeletePhoneNumberResponse" message="tns:ICustomerService_DeletePhoneNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/DeleteCompany" message="tns:ICustomerService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/DeleteCompanyResponse" message="tns:ICustomerService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPersons">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompanies">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllCompanies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCountries">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEMailAddresses">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllEMailAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactTypes">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetContactTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPhoneNumbers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetAllPhoneNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByObjectId">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetPersonByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsByNameAndCompany">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetPersonsByNameAndCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompaniesByNameAndCountry">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCompaniesByNameAndCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyByObjectId">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCompanyByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreatePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateEMailAddress">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateEMailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/CreatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeletePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEMailAddress">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteEMailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeletePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/DeleteCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:4957/CustomerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>