SoCrm.Test.WpfClient/Service References/LoggingService/LoggingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoggingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" />
      <xsd:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoggingService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetBySeverity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBySeverity" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetBySeverity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBySeverityResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetByObjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByObjectId" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_GetByObjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByObjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ILoggingService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoggingService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetAll" message="tns:ILoggingService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetAllResponse" message="tns:ILoggingService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBySeverity">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetBySeverity" message="tns:ILoggingService_GetBySeverity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetBySeverityResponse" message="tns:ILoggingService_GetBySeverity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByObjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/GetByObjectId" message="tns:ILoggingService_GetByObjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/GetByObjectIdResponse" message="tns:ILoggingService_GetByObjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoggingService/Log" message="tns:ILoggingService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggingService/LogResponse" message="tns:ILoggingService_Log_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoggingService" type="tns:ILoggingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBySeverity">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetBySeverity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByObjectId">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/GetByObjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ILoggingService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoggingService">
    <wsdl:port name="BasicHttpBinding_ILoggingService" binding="tns:BasicHttpBinding_ILoggingService">
      <soap:address location="http://localhost:1065/LoggingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>