SoCrm.Test.WpfClient/Service References/LoggingService/LoggingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" />
  <xs:import schemaLocation="http://localhost:1065/LoggingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfLogEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySeverity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="severity" type="q2:Severity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySeverityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetBySeverityResult" nillable="true" type="q3:ArrayOfLogEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByObjectId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="objectId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByObjectIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="GetByObjectIdResult" nillable="true" type="q5:LogEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SoCrm.Services.Logging.Contracts" minOccurs="0" name="severity" type="q6:Severity" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>